.newsTitle {
    position: relative;

    .row {
        align-items: flex-start;
        justify-content: flex-start;

        .newsTitleContent {
            h3 {
                font-size: 18px;
                font-weight: 600;
            }

            h1 {
                color: #111 !important;
                font-size: 40px;
                padding-top: 10px !important;
            }

            &::after {
                content: "";
                height: 2px;
                width: 100px;
                top: 85px;
                left: 12%;
                background-color: #5363ee;
                position: absolute;
            }
        }
    }
}