.footer {
    padding: 30px 0 !important;
    background-color: rgba(0, 35, 71, 0.980392);

    .row {
        justify-content: center;
        align-items: center;

        .footerContent {
            text-align: center;
            font-size: 20px;
            p{
            color: #fff !important;
            svg {
                margin: 0 4px !important;   
            }

            span {
                color: #13369c !important;
            }
        }
    }
}
}